
body{


margin:0;

background:black;

font-family:Arial;


color:white;


overflow-x:hidden;


}





.watermark{


position:fixed;


top:50%;

left:50%;


transform:translate(-50%,-50%);


opacity:0.04;


z-index:-1;



}



.watermark img{


width:900px;


}



nav{


display:flex;


justify-content:space-between;


padding:30px;


}


nav ul{


display:flex;


gap:40px;


list-style:none;


}



.logo img{


width:180px;


}



.hero{


height:100vh;


display:flex;


align-items:center;


justify-content:space-around;


}



.hero-text{


width:40%;


}



.hero-text h1{


font-size:65px;


letter-spacing:7px;


}



.hero-text h2{


font-size:30px;


letter-spacing:10px;


}



button{


padding:18px 40px;


background:none;


color:white;


border:1px solid white;


cursor:pointer;



}



.hero-image img{


width:600px;


}



.card{


display:flex;


justify-content:space-around;


padding:120px;


align-items:center;


}



.card img{


width:500px;


border-radius:10px;


}



.footer{


padding:100px;


text-align:center;


}





#particles{


position:fixed;


top:0;


left:0;


width:100%;


height:100%;


pointer-events:none;


z-index:-2;


}



.particle{


position:absolute;


width:4px;


height:4px;


background:white;


border-radius:50%;


animation:fade 1s linear;


}



@keyframes fade{


0%{

opacity:1;

transform:scale(1);

}



100%{


opacity:0;


transform:scale(4);


}



}
